.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 24px;
}

.btn {
    width: 200.36px;
    text-align: center;
    font-weight: bold;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.5;
}

section {
    padding: 180px 0 200px 0;
    background-image: url(img/bg\ image\ 1.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
    color: white;
}

.banner {
    position: relative;
    height: 100%;
}

.scroll-down {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}